<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>com.servlets.TeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>link</servlet-name>
        <servlet-class>com.servlets.LinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>com.servlets.fileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.servlets.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.servlets.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DialogServlet</servlet-name>
        <servlet-class>com.servlets.DialogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimesheetServlet</servlet-name>
        <servlet-class>com.servlets.TimesheetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/TeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>link</servlet-name>
        <url-pattern>/link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/fileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/TaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DialogServlet</servlet-name>
        <url-pattern>/DialogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimesheetServlet</servlet-name>
        <url-pattern>/TimesheetServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
